.container{
    padding: 0;
    margin: 0;
    background-color: rgba(0, 0, 0, 0.273);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100vw;
    z-index: 9999;
    position: absolute;
}

.modal{
    height: auto;
    width: 22rem;
    border-radius: 5px;
    background-color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    z-index: 0;
}

.ribbon_card {
    margin-top: 20px;
    margin-bottom: 20px;
    position:relative;
    min-width: 20rem;
    min-height: 6rem;
    width: fit-content;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 0px rgba(128, 0, 128, 0.368);
    z-index: 2;
}

.ribbon_card span {
    position:absolute;
    top: -10px;
    right: -10px;
    // background-color: crimson;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    overflow: hidden;
}

.ribbon_card span::before {
    width: 140%;
    height: 12px;
    transform: rotate(45deg) translateY(-10px);
    background-color: cornflowerblue;
    position: absolute;
    content: "Promotion";
    font-size: 0.7em;
    color: white;
    font-weight: bold;
    text-align: center;
    z-index: 2;
}

.ribbon_card span::after {
    height: 10px;
    width: 10px;
    background-color: rgb(57, 112, 213);
    position: absolute;
    content: "";
    right: 0;
    bottom: 5px;
    z-index: 1;
    box-shadow: -64.5px -65px  rgb(57, 112, 213);;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    line-height: 1.5em;
    height: 6rem;
}

.regularFont{
    font-weight: bold;
    font-size: 0.8em;
}

._btnContainer{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

._btn {
    width: 20px;
    height: 20px;
    font: 0.9em;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    color: white;
    background-color: brown;
    cursor: pointer;
    border-radius: 3px;
    transition: all 0.6s;
    cursor: pointer;
    margin-top: 8px;
    margin-right: 8px;
}

._btn:active {
    transform: translateY(1px);
}